<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>BraidsTribe Email Subscription</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>BraidsTribe Email Update Form</h1>
    <hr>
    <h2>Update Email Address</h2>

    <form action="#" th:action="@{/saveEmail}" th:object="${email}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" >
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-warning"> Update Email</button>
    </form>




    <hr>

    <a th:href="@{/}"> Back to Email List</a>
</div>
</body>
</html>