<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
<h1>Manage Subscription</h1>


    <a th:href="@{/emails/register}"
       class="btn btn-warning btn-sm mb-3"> Add Email </a>

    <table class="table table-dark striped table-responsive-md">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="email : ${emailList}">
            <td th:text="${email.firstName}"></td>
            <td th:text="${email.lastName}"></td>
            <td th:text="${email.email}"></td>
            <td><a th:href="@{/showFormForUpdate/{id}(id=${email.id})}"
                   class="btn btn-warning">Update Email</a>
                <a th:href="@{/deleteEmail/{id}(id=${email.id})}"
                   class="btn btn-warning">Delete Email</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>